.mobile header {
    padding-bottom: 15px;
}

.mobile header h2 {
    margin-top: 0;
    padding-top: 40px;
    padding-bottom: 10px;
}

.mobile header ul {
    padding-left: 0;
}

.mobile {
    text-align: center;
}

.mobile .content p {
    text-align: left;
}

.mobile .content {
    padding: 10px;
}
