body {
    background-color: #eceff4;
    margin: 0;
}

h1,
h2,
h3,
h4,
a,
li,
label,
textarea,
p {
    color: #2e3440;
    font-family: sans-serif;
}

header ul {
    list-style-type: none;
}

header li {
    margin: 25px;
}

header a {
    text-decoration: none;
}

header {
    background-color: #e5e9f0;
    box-shadow: 0 1px 4px #434c5e;
    margin-bottom: 15px;
}

.container {
    margin: 10px;
    box-shadow: 0 0 5px #434c5e;
}

.linkBar {
    background-color: #d8dee9;
    text-align: center;
}

.content {
    background-color: #d8dee9;
}

footer {
    text-align: center;
    margin-top: 50px;
}

.toolbar {
    width: 70%;
    margin: auto;
    background-color: #434c5e;
    padding: 5px;
    border-radius: 5px;
    margin-top: 25px;
    display: flex;
    flex-direction: row;
}

.toolbar p {
    color: #eceff4;
}

.rounded {
    border-radius: 5px;
}

.internal {
    width: 100%;
    margin: auto;
}

.floating {
    position: fixed;
    width: min-content;
    top: 10%;
    left: 40%;
    margin: auto;
    background-color: #2e3440;
    padding: 25px;
    border-radius: 5px;
}
